@media (max-width:768px) {
    .cards {
        flex-direction: column;
    }
}

@media (max-width:468px) {
    .container .infos h2,
    .container .infos strong {
        font-size: 1.9rem;
        margin-bottom: 1rem;
        
    }

    .attribution {
        font-size: 1rem;
    }
}